:root {
  --light-color: #fff;
  --dark-color: #1d1d1d;
  --html-color: #e54d28;
  --css-color: #0a74b8;
  --js-color: #dab92c;
  --ancent-color: #f4f4f4;
  --correct-color: #06b606;
  --wrong-color: #ff0000;
}
